<div class="main-container">

    <div>
      <nav class="navBar">
        <ul>
          <li><a >Home</a></li>
          <li><a >About</a></li>
          <li><a >Services</a></li>
          <li><a >Contact Us</a></li>
          <button (click)="logout()">Logout</button>

          <div class="search">
            <input type="text" id=search placeholder="Search This Website">
          </div>
        </ul>
      </nav>
    </div>
  <div class="body">

  </div>
  <div class="footer">footer
  </div>
<!--  <img src="assets/postnest1.png">-->
</div>

